# Error Page Change
ErrorDocument 404 /index.html

RewriteEngine on
#RewriteRule ^(?!index\.html$).*\.html /index.html [L,R=302]
RewriteRule calendar/now$ https://raw.githubusercontent.com/JavaJava19/jps.gg/release/source/src/images/calendar/now.png [L,R=302]

<Files ~ "^\.json$">
Header set Pragma no-cache
Header set Cache-Control no-cache
</Files>

# AccessControl IP/HOST
order allow,deny
allow from all